// scroll view style
$scroll-track: #ececec;
$scroll-thumb: #bdbdbd;
$scroll-thumb-hover: #888888;

// primary colors
$white: #ffffff;
$black: #000000;

// theme colors
$tgreen: #00b0b5;
$tgray: #333333;

// fonts information
$font: 'Amazon Ember';
$reg: 400;
$bold: 700;